:root {
  --aqua: #92c7cf;
  --aqua-tint: #f5f9fa;
  --grey: #454341;
  --grey-shade: #373634;
  --off-white: #fbf9f1;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --container-width: 75rem;
}

/* Global */

html,
body {
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--aqua);
  background: linear-gradient(to right, var(--aqua-tint), var(--aqua));
  color: var(--grey-shade);
  font-family: 'Open Sans', sans-serif;
}

/* Heading */
.ToDoListTitle {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  padding: var(--spacing-lg);
  background-color: var(--grey-shade);
  color: var(--off-white);
}

/* Content */
.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-md);
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  padding: 1rem;
  width: 100%;
  margin: var(--spacing-xs) 0;
  box-sizing: border-box;
  border: 2px solid var(--greyShade);
  border-radius: 10px;
}

.BtnAdd,
.BtnRemove,
.BtnEdit {
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.5s;
}

.BtnAdd:hover,
.BtnRemove:hover,
.BtnEdit:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--aqua-tint);
  border-radius: 50%;
}

.BtnEdit {
  margin-right: 1rem;
}

/* List */

.listItem {
  color: var(--grey);
  border-bottom: solid black;
  list-style: none;
  margin-bottom: 1rem;
}

.listRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem;
}

.textInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  outline: none;
}

/* Media Queries */
@media (min-width: 24rem) {
  .FormContainer {
    width: 80%;
  }

  .ListContainer {
    width: 70%;
  }
}

@media (min-width: 37rem) {
  .FormContainer {
    width: 70%;
  }
  .ListContainer {
    width: 60%;
  }
}

@media (min-width: 50rem) {
  .FormContainer {
    width: 50%;
  }
  .ListContainer {
    width: 40%;
  }
}
